@-moz-keyframes top1 {
    0% {
        opacity: 0;
        margin-top: 100px
    }
    100% {
        opacity: 1;
        margin-top: 50px
    }
}

@-webkit-keyframes top1 {
    0% {
        opacity: 0;
        margin-top: 100px
    }
    100% {
        opacity: 1;
        margin-top: 50px
    }
}

@keyframes top1 {
    0% {
        opacity: 0;
        margin-top: 100px
    }
    100% {
        opacity: 1;
        margin-top: 50px
    }
}

@-moz-keyframes top2 {
    0% {
        margin-top: 50px
    }
    100% {
        margin-top: 0px
    }
}

@-webkit-keyframes top2 {
    0% {
        margin-top: 50px
    }
    100% {
        margin-top: 0px
    }
}

@keyframes top2 {
    0% {
        margin-top: 50px
    }
    100% {
        margin-top: 0px
    }
}

/* fade from left */
@keyframes fadeformleft {
    from {
        opacity: 0.3;
        transform: translateY(-100%);
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(-50%);

    }
}

@-moz-keyframes fadeformleft {
    from {
        opacity: 0.3;
        transform: translateY(-100%);
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes fadeformleft {
    from {
        opacity: 0.3;
        transform: translateY(-100%);
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(-50%);
    }
}

@-ms-keyframes fadeformleft {
    from {
        opacity: 0.3;
        transform: translateY(-100%);
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(-50%);
    }
}

@-o-keyframes fadeformleft {
    from {
        opacity: 0.3;
        transform: translateY(-100%);
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(-50%);
    }
}

/* fade in */

@keyframes fadeinout{
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-moz-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-ms-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-o-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@keyframes fadeinout{
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-moz-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-ms-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-o-keyframes fadeinout {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

/* hover btn violet */

@keyframes btn1 {
    from {
        background-color: #632340;
    }
    to {
        background-color: #CC86A6;
    }
}

@-moz-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-ms-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-o-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}


/* form left */

@keyframes fromleft {
    from {
            transform: translate3d(-100px, 0, 0);
    }
    to {
            transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-ms-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}

@-o-keyframes btn1 {
    from {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
        transform: translateX(100%);
    }
}